{% extends "base.html" %}
{% block title %}Преимущества{% endblock %}
{% block content %}
{% load static %}
<h1>Преимущества</h1>

<div class="grid">
  <section class="panel">
    <h2>Быстрый запуск проектов</h2>
	<img src="{% static 'img/11.jpg' %}" alt="Скорость">
    <p>Экспертиза и опыт нашей команды позволяют реализовать проекты цифровизации в сжатые сроки.</p>   
  </section>

  <section class="panel">
    <h2>Снижение затрат на поддержку</h2>
	<img src="{% static 'img/3.jpg' %}" alt="Снижение затрат">
    <p>Минимальные затраты на поддержку благодаря использованию широкого спектра продвинутых инструментов цифровизации бизнес-процессов.</p>	
  </section>

  <section class="panel">
    <h2>Удобство и безопасность</h2>
	<img src="{% static 'img/2.jpg' %}" alt="Безопасность">
    <p>Простота использования, масштабируемость, безопасность и аналитика данных в режиме реального времени.</p>	
  </section>
</div>
{% endblock %}

