{% extends "base.html" %}
{% load static %}
{% block title %}Наша команда{% endblock %}
{% block content %}
<h1>Наша команда</h1>
<section class="panel">
    <p>Мы убеждены: когда люди чувствуют уважение и поддержку, они создают лучшие продукты. Поэтому вкладываемся в атмосферу, где каждый может расти и быть собой.
	Как это проявляется в повседневной жизни:
- Возможность удалённой работы или гибридного графика.
- Любой может предложить идею для продукта или улучшения процессов — её рассмотрят.
- Тимбилдинги, совместные выезды и добровольные волонтёрские проекты.
- ДМС для сотрудников.</p>
  </section>
  
<div class="image-container">
        <img src="{% static 'img/5.jpg' %}" alt="Наша команда">
    </div>
<p class="muted">Соблюдаем в команде 3 правила .</p>

<div class="grid">
  <section class="panel">
    <h2>Правило 1</h2>
    <p class="muted">Открытость</p>
    <p>Создаем доверительную, открытую и честную среду общения всех членов команды, заказчиков и партнеров.</p>
    <!-- пример изображения -->
    <!-- <img src="{% static 'img/team_1.jpg' %}" alt="Сотрудник 1" /> -->
  </section>

  <section class="panel">
    <h2>Правило 2</h2>
    <p class="muted">Партнерство</p>
    <p>Придерживаемся нетоксичных взаимоотношений и готовы принимать другую точку зрения, помогать друг другу советом и делом.</p>
  </section>

  <section class="panel">
    <h2>Правило 3</h2>
    <p class="muted">Инициативность</p>
    <p>Уважаем внутреннее стремление сотрудника к изменениям, поиску оптимальных решений, а также выдвижению идей по созданию нового.</p>
  </section>
</div>
{% endblock %}
