{% extends "base.html" %}
{% block title %}Вакансии{% endblock %}
{% block content %}
<h1>Вакансии</h1>
<p class="muted">Мы находимся в постоянном поиске. Не только уникальных решений,но и талантливых людей.</p>

<section class="panel">
  <h2>Frontend-разработчик</h2>
  <ul>
    <li><b>Требования:</b>
Уверенные знания JavaScript, TypeScript, HTML, CSS и React.
Понимание принципов работы RESTful API.
Способность работать в команде и эффективно коммуницировать.
Опыт работы с React 2+ года
Опыт работы с Redux toolkit query
Опыт работы с react-hook-forms
Опыт работы с REST API
Владение Git и понимание Git Flow
Базовые знания по UX/UI.</li>
    <li><b>Обязанности:</b>
Разработка и поддержка пользовательских интерфейсов с использованием React.
Взаимодействие с backend-разработчиками для интеграции API.
Оптимизация производительности и обеспечение кроссбраузерной совместимости.
Участие в проектировании архитектуры приложений.
Внедрение новых технологий и подходов для улучшения пользовательского опыта.</li>
	<li><b>Условия:</b>
Гибкий формат работы: в офисе, удаленно или гибридно.
Пятидневная рабочая неделя с восьмичасовым рабочим днем.
Возможности для профессионального роста и обучения.
Участие в интересных и значимых проектах.</li>   
  </ul>
</section>

<section class="panel">
  <h2>C# | .NET-разработчик (backend)</h2>
  <ul>
    <li><b>Требования:</b>
Опыт работы с C# и .NET от 1 года.
Знание и опыт работы с Postgres, RabbitMQ, Minio.
Понимание микросервисной архитектуры и опыт работы с HTTP, REST.
Умение работать в команде и стрессоустойчивость.
Готовность к работе с не всегда идеально описанными задачами.</li>
    <li><b>Обязанности:</b>
Разработка и поддержка backend-части приложений на платформе .NET 7 и выше.
Работа с базами данных Postgres и реализация микросервисной архитектуры.
Интеграция с системами RabbitMQ и Minio.
Оптимизация производительности приложений с использованием Memory Cache.
Работа с Entity Framework Core и реализация RESTful сервисов.
Участие в командной разработке с использованием Git.</li>
    <li><b>Условия:</b>
Гибкий формат работы: на месте работодателя, удаленно или гибридно.
Полная занятость с графиком 5/2 и рабочим днем 8 часов.
Возможности для профессионального роста и развития.
Участие в интересных и значимых проектах.</li>
  </ul>
</section>
{% endblock %}
